.big-top-margin{
    margin-top: 2em;
    margin-bottom: 2em;
}
.border-error{
    border: 3px solid rgb(250, 1, 1);
}
.border-success{
    border: 3px solid rgb(2, 205, 2);
}
.txt-title{
    color:#FC6D6D;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    /* text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;          */
}

.text-color-change{
    color: #ee7752;
    animation: textColor 2s ease-in-out infinite alternate;
}


@keyframes textColor {
    /* 0% {background-position: 0%}
    100% {background-position: 100%} */
    0% {
		color:#ee7752;
	}/*
    25%{
        color:#e73c7e;
    }
	50% {
		color: #23a6d5;
	}
    75%{
        color:#23d5ab;
    }*/
	100% {
		color:#ee7752;
	}
}


.rotate{
    animation: rotor 4s ease-in-out infinite alternate;
}

@keyframes rotor{
    0%{
        transform: rotate(0deg);
    }
   
    100%{
        transform: rotate(360deg);
    }
}

.register-container {
    max-width: 40%;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    background-color: #6599b0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  /* height: 80vh;  */
  }
  
  .alert {
    margin-top: 10px;
  }
  .reg-btn{
    width:45%;
    padding: 8px;
    color:black;
    text-decoration: none;
    display:inline-block;
    background: transparent;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    transition: all 0.3s ease;
}

.reg-btn:enabled{
    background: #20c997;
    transition: all 0.3s ease;
    background-size: 200% 200%;
    font-weight: bold;
    letter-spacing: 2px;
    border:1.5px solid black;

}
  

.reset-btn{
    width:45%;
    padding: 8px;
    color:black;
    text-decoration: none;
    display:inline-block;
    background: transparent;
    border: 1px solid red;
    border-radius: 3px;
    text-align: center;
    margin-left: 2%;
    transition: all 0.3s ease;
}



.log-btn{
    width:100%;
    padding: 8px;
    color:black;
    text-decoration: none;
    display:inline-block;
    background: transparent;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    transition: all 0.3s ease;
   

}

.log-btn:hover{
    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color:#fff;
    transition: all 0.3s ease;
    animation: gradient 0.9s ease-in-out infinite alternate;
    background-size: 200% 200%;
    letter-spacing: 6px;
    font-weight: bold;
    border:1.5px solid black;
   

}

.fall{
    animation: fade 2s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes gradient {
    /* 0% {background-position: 0%}
    100% {background-position: 100%} */
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}