<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/dashboard/user">Car-Rent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div >
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link btn btn-outline-danger" (click)="(logout())">Logout</a>
          </li>
          
        </ul>
      </div>
      </div>
  </div>
</nav>
<div class="container mt-5">
    <h2>User Rental Agreements</h2>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>CarId</th>
          <th>Car Brand</th>
          <th>Customer Name</th>
          <th>Rental Duration (days)</th>
          <th>Total Cost</th>
          <th>Action:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agreement of userRentalAgreements">
          <td>{{ agreement.carId}}</td>
          <td>{{agreement.brandName}}</td>
          <td>{{agreement.customerName}}</td>
          <td>{{agreement.rentalDuration}}</td>
          <td>{{ agreement.cost }}</td>
          <td><button class="btn btn-outline-danger" (click)="ReturnRequest(agreement.carId)">Return</button></td>
          
        </tr>
      </tbody>
    </table>
  </div>
  